.search-container{
    position: relative;
    background-color: #ff0000bb;
    top: 45vh;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    background-color: white;
}
.top-part{
    padding: 20px;
}
.top-part input{
    width: 150px;
    height: 40px;
    padding-left: 5px;
}
.search-btn{
    padding: 8px 10px;
    background-color: red;
    border: 0px;
    border-bottom: 3px solid red;
    cursor: pointer;

}
.top-part button:active{
    background-color: rgb(185, 0, 0);
    border-bottom: 3px solid rgb(185, 0, 0);


}


.top-part input::placeholder{
    text-align: center;
}
div.react-datepicker-wrapper{
    width: auto;
}